<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>



  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start, :default => 1.day.from_now  %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end, :default => 2.day.from_now %>
  </div>

<% for item in @items %>
<div>
  <%= check_box_tag "reservation[item_ids][]", item.id, @reservation.items.include?(item) %>
  <%= item.title %>, <%= item.price %> &euro;/vrk
</div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
